@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300&display=swap');

html {
	 scroll-behavior: smooth;
}
body {
	overflow-x: hidden !important;
	font-family: 'Roboto', sans-serif;
}
select {
	color: #9a9a9a !important;
	background-color: #ddd !important;
}
a:hover{
	text-decoration: none;
}

.bg-light {
	background-color: #EAF0FF !important;
}
.myInput {
	color: #9a9a9a !important;
	background-color: #ddd !important;
	padding: 10px;
	border-radius: 3px;
	font-size: 12px;
}
.spectral {
	font-family: 'Spectral', serif;
}
.text-orange {
	color: #F2745F !important;
}
.bg-orange {
	background-color: #F2745F !important;
}
.myBtn {
	background-color: #F2745F;
	color: #fff;
	font-size: 12px;
	padding: 10px;
	font-weight: bold;
}
.myBtn-alt {
	background-color: #fff;
	color: #F2745F;
	font-weight: bold;
	font-size: 12px;
}

#banner {
	background: #fff url(../images/banner.webp) no-repeat;
	background-size: 100%;
	background-position: center;
	transition: all 0.5s ease-in-out;
}
#banner:hover {
	background-size: 110%;
}
.site-mask {
	background-color: rgba(0, 0, 0, 0.7);
}
#bookTable {
	background: #fff url(../images/booktable.jpg) no-repeat;
	background-size: cover;
}
.order-form {
	background-color: #fff;
}
.get-app {
	background-color: #F2745F;
}
#newsletters {
	background: #fff url(../images/restaurant.jpg) no-repeat;
	background-size: cover;
}
.myFooter {
	background-color: #363E50;
}
.icons i{
	width: 35px;
	height: 35px;
	border-radius: 50%;
	color: #363E50;
	background-color: #fff;
	padding-top: 8px;
	margin-right: 10px;
	transition: 0.5s;
}
footer i:hover {
	background-color: #F2745F;
}
.order-box {
	background-color: #F2745F;
}
.order-box-inner {
	background-color: #F3826F;
}
.site-post {
	background-color: #fff;
	position: relative;
}
.post-date {
	background-color: rgba(228,228,228, 0.9);
	color: #F2745F;
	top: 0;
	left: 0;
	position: absolute;
	font-weight: bold;
	padding: 8px;
	margin-right: -15px;
}
#blogPost .post-date {
	margin-left: 15px;
}
.price {
	background-color: rgba(228,228,228, 0.9);
	color: #F2745F;
	bottom: 0;
	right: 0;
	position: absolute;
	font-weight: bold;
	padding: 8px;
}
.pagination a {
	transition: 0.5s;
}
.pagination a:hover {
	background-color: #F2745F !important;
	color: #fff !important;
}
.owl-dot span {
	background-color: #F2B9B4 !important;
}
.active.owl-dot span {
	background-color: #F2745F !important;
}

#newsletters input[type=email] {
	opacity: 0.70;
}

@media screen and (max-width: 767px) {
	.navbar-nav li {
		border-bottom: 1px solid #ddd;
		margin: 15px 0;
	}
	.navbar-toggler i {
		font-size: 18px;
	}
	#banner {
		background-size: cover;
	}
	#banner:hover {
		background-size: cover;
	}
}